.links{
    display: flex;
    margin-top: 32px;
    height: 18px;
    width: 100%;
    background-color: #EEEEEE;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.links a{
    background-color: #EEEEEE;
    margin: 0;
    font-size: 14px;
    color: #1F7A54;
    font-weight: 600;
    cursor: pointer;
}

.links span{
    width: 0px;
    height: 18px;
    margin: 0 10px 0 10px;
    border: 1px solid #0000001F;
}
