<div class="container">
  <div class="form">
    <div class="form-heading">
      <img src="../../assets/icons/back.svg" alt="" />
      <p>Log in with Quantum</p>
    </div>
    <div class="form-radio">
      <label for="myRadioId" class="radio">
        <input
          type="radio"
          name="myRadioField"
          id="myRadioId"
          class="radio__input"
          checked
        />
        <div class="radio__radio"></div>
        District
      </label>
      <label for="myRadioId2" class="radio">
        <input
          type="radio"
          name="myRadioField"
          id="myRadioId2"
          class="radio__input"
        />
        <div class="radio__radio"></div>
        Independent School
      </label>
    </div>
    <div class="form-dropdown">
      <p class="label">State*</p>
      <div class="custom-select">
        <select>
          <option value="1">Alabama</option>
          <option value="1">New York</option>
          <option value="1">Washington</option>
          <option value="1">New Jersey</option>
        </select>
      </div>
      <div class="dropdown-hr"></div>
    </div>
    <div class="form-dropdown district">
      <p class="label">District*</p>
      <div class="custom-select">
        <select>
          <option value="1">Alabama District School</option>
          <option value="1">Lake Region</option>
          <option value="1">Seattle</option>
          <option value="1">Alabama</option>
        </select>
      </div>
      <div class="dropdown-hr"></div>
    </div>
    <div class="form-input">
      <input type="text" placeholder="Username/Email ID*" />
      <div class="dropdown-hr"></div>
      <p class="forgot">FORGOT USERNAME?</p>
    </div>
    <div class="form-input password">
      <div class="password-input">
        <input [type]="show ? 'text' : 'password'" placeholder="Password*" />
        <img
          src="../../assets/icons/preview.svg"
          alt=""
          style="cursor: pointer"
          (click)="password()"
        />
      </div>
      <div class="dropdown-hr"></div>
      <p class="forgot">FORGOT PASSWORD?</p>
    </div>
    <div class="form-checkbox">
      <label for="checkbox" class="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="checkbox__checkbox"></div>
        Remember Me
      </label>
    </div>
    <a (click)="login()"> <button class="form-button">LOG IN</button></a>
  </div>
</div>
