.container{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: calc(100vh - 74px - 32px - 56px)  
}
.form{
    margin-top: 108px;
    left: 268px;
    width: 488px;
    /* height: 550px; */
    background-color: white;
    border-top: 4px solid #3AC7EC;
    border-radius: 2px 2px 0px 0px;
}
.form-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    height: 30px;
}
.form-heading p{
    font-weight: 600;
    font-size: 24px;
    color: #222222;
}
.form-heading img {
    margin-left: 32px;
    margin-right: 77px;
}
.form-radio{
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-top: 34px;
    height: 20px;
}
.form-radio-option{
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    margin-right: 32px;
}
.form-radio-option img{
    margin-right: 8px;
}
.form-dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 32px;
}
.form-dropdown > p {
    height: 15px;
    font-size: 12px;
    color: #666666;
    font-weight: 600;
    margin-bottom: 0;
}
.dropdown-select{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-top: 5px;
    height: 20px;
}
.dropdown-select p {
    font-size: 16px;
    color: #222222;
    font-weight: 600;
    height: 20px;
    margin: 0;
}
.dropdown-hr{
    width: 423px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.12;
    margin-top: 5px;
    height: 1px;
}
.district{
    margin-top: 36px;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 56px;
}
.form-input p{
    margin: 0;
}
.form-input  .label{
    height: 20px;
    font-size: 16px;
    color: #666666;
    font-weight: 600;
}
.form-input > .forgot{
    font-weight: 600;
    color: #1F7A54;
    text-transform: uppercase;
    align-self: flex-end;
    margin-right: 32px;
    font-size: 14px;
    height: 18px;
    margin-top: 5px;
    cursor: pointer;
}
.password{
    margin-top: 33px;
}
.password-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 32px;
}

.form-checkbox{
    display: flex;
    align-items: center;
    height: 20px;
    margin-left: 32px;
    margin-top: 26px
}

.form-checkbox img{
    width: 18px;
    height: 24px;
}
.form-checkbox p{
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    margin-left: 5px;
}

.form-button{
    width: 216px;
    font-family: 'quicksand';
    height: 40px;
    background: #3FD28B;
    font-size: 14px;
    font-weight: 600;
    color: #1F2834;
    border: none;
    box-shadow: 0px 3px 5px #0000003D;
    margin: 34px auto 24px 136px;
    cursor: pointer;
    
}
.radio{
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size:  16px;
    color: #333333;
    margin-right: 32px;
    cursor: pointer;
    height: 20px;
    margin-left: 2px;
}

.radio__input{
    display: none;
}

.radio__radio{
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 2px solid #1F7A54;
    border-radius: 50%;
    margin-right: 10px;
    padding: 3px;
}

.radio__radio::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: #1F7A54;
    border-radius: 50%;
    transform: scale(0);
}

.radio__input:checked + .radio__radio::after{
    transform: scale(1);
}

input{
    border: none;
    margin-top: -3px;
    margin-left: -2px;
}

input:focus{
    outline: none;
    color: #222222;
}
input, 
input::placeholder{
    border: none;
    font-family: 'quicksand';
    font-size: 16px;
    font-weight: 600;
    color: #616161;
}

input::-ms-reveal,
input::-ms-clear {
        display: none;
      }

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkbox{
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    height: 24px;
    cursor: pointer;
}

.checkbox__checkbox{
    box-sizing: border-box;
    height: 24px;
    width: 18px;
    /* border: 2px solid #1F7A54; */
    margin-right: 5px;
    background-image: url('../../assets/icons/checkbox-unchecked.svg');
    background-position: center;
}

.checkbox input:checked + .checkbox__checkbox{
    background-image: url('../../assets/icons/checkbox-checked.svg');
}

.custom-select select {
    appearance: none;
    margin-top: 5px;
    height: 20px;
    width: 100%;
    background-image: url('../../assets/icons/arrow-down.svg');
    background-position: calc(100% - 30px) center;
    background-repeat: no-repeat;
    float: right;
    border:0px;
    outline:0px;
    font-family: 'quicksand';
    font-size: 16px;
    font-weight: 600;
    color: #1F2834;
}
.form-dropdown label{
    margin-bottom: 5px;
}