.tabs{
    height: 64px;
    width: 976px;
    background-color: #3FD28B;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tab-item{
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.tab-item span{
    font-size: 24px;
    font-weight: bold;
    margin: 0 8px;
}
.tab-active{
    border-bottom: 4px solid #222222;
}