<nav>
  <img src="../../assets/icons/header.svg" alt="logo" />
  <div class="nav-links">
    <div class="nav-item nav-active link">Dashboard</div>
    <div class="nav-item link">Content</div>
    <div class="nav-item link">Users</div>
    <div class="nav-item link">Reports</div>
    <div class="nav-item link">Admin</div>
    <div class="nav-item">
      <div class="alert">2</div>
      <img
        src="../../assets/icons/alerts.svg"
        alt=""
        style="height: 24px; width: 21px"
      />
    </div>
    <div class="nav-item">
      <div class="alert">1</div>
      <img
        src="../../assets/icons/announcements.svg"
        alt=""
        style="height: 20px; width: 20px"
      />
    </div>
    <div class="nav-item profile">
      <div class="alert-text">T</div>
      <img
        src="../../assets/icons/account_circle.svg"
        alt=""
        style="height: 32px; width: 32px; margin-right: 24px"
      />
    </div>
    <div class="nav-item hamburger">
      <img
        src="./assets/icons/hamburger-menu.svg"
        alt=""
        style="height: 32px; width: 32px"
      />
    </div>
  </div>
</nav>
